<html>
{% include 'header.html' %}

  <div class="content">
    {% if current_user.is_authenticated %}

      {% if average_speed >= 0 %}
        <h2 class="textJeansDark text-center">Average speed of your runs</h2>
        <h3 class="textPumpkingDark text-center">{{average_speed}} m/s</h3>
      {% endif %}

      <h2 class="textJeansDark text-center">Your last 10 Runs</h2>
      <table>
        <thead>
          <tr>
            <th>Run name</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for run in runs%}
          <tr>
            <td> {{run.title}} </td>
            <td class="text-center">
              <a href="{{url_for('runs.run', id=run.id)}}"">
                <img class="icon" src="{{url_for('static', filename='view.png')}}"/>
              </a>
            </td>
            <td class="text-center">
              <a href="{{url_for('challenges.create_challenge', id=run.id)}}"">
                <img class="icon" src="{{url_for('static', filename='challenge.png')}}"/>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}
      <h1 class="textPumpkingDark text-center"> Hi Anonymous</h1>
      <h3 class="textJeansDark text-center"> Please Login or Register </h3>
    {% endif %}
  </div>

{% include 'footer.html' %}
</html>

