<html>
{% include 'header.html' %}
  <div class="content">

    <h1 class="textJeansDark text-center">Challenge yourself!</h1>
    <h2 class="textPumpkingDark text-center"><a href="{{url_for('home.index')}}">Create a new challenge</a></h2>
    {% if result|length > 0 %}
    <table>
      <thead>
        <tr>
          <th style="width:25%">Challenged</th>
          <th style="width:25%">Challenger</th>
          <th>Date</th>
          <th>Result</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          {% for item in result %}
            <td>{{ item.name }}</td>
            {% if r[1] is not none %}
              <td>{{ results[r][1].name }}</td>
            {% endif %}
          
          <td>{{ r.start_date.strftime('%d/%m/%y at %H:%M') }}</td>
          
          <td class="text-center">
          {% if results[r][1] is not none %}
            {% if result.result %}
              <img class="icon" src="{{url_for('static', filename='check.png')}}" >
            {% else %}
              <img class="icon" src="{{url_for('static', filename='cross.png')}}">
            {% endif %}
          {% else %}
              <a href="{{url_for('user_challenge.complete_challenge', id_challenge=result.id)}}"">
                <img class="icon" src="{{url_for('static', filename='challenge.png')}}"/>
              </a>
          {% endif %}
          </td>

          <td class="text-center">
            <a href="{{url_for('user_challenge.complete_challenge', id_challenge=result.id)}}"">
              <img class="icon" src="{{url_for('static', filename='view.png')}}"/>
            </a>
          </td> 

        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

{% include 'footer.html' %}
</html>
